@font-face {
    font-family: "Euclid Circular B Regular";
    src: url("fonts/Euclid-Circular-B-Regular.ttf");
    font-weight: normal;
  }

  @font-face {
    font-family: "Euclid Circular B Medium";
    src: url("fonts/Euclid-Circular-B-Medium.ttf");
    font-weight: medium;
  }

body{
    padding: 0;
    margin: 0;
    font-family: "Euclid Circular B Regular";
}

.frame{
    width: 100%;
    margin: auto;
    max-width: 1500px;
}

#active{
    color: #D7B56D;
}

.navbar{
    position: absolute;
    z-index: 9999;
    width: calc(100% - 40px);
    padding: 20px;
}

.navbar .frame{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.navbar .frame .logo img{
    width: 80px;
}

.navbar .frame .menu a{
    padding: 15px;
    font-size: 17px;
    transition: all .2s;
}

.navbar .frame .menu a:hover{
    color: #D7B56D;
    transition: all .2s;
}

a{
    color: white;
    text-decoration: none;
}

.main{
    background: url(img/Rectangle-1.jpg);
    background-size: cover;
    height:600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
}


#main1{
    background: url(img/hakkimizda.png);
    background-repeat: no-repeat;
    background-size: cover;
    height:400px;
    }

    #main2{
        background: url(img/hizmetlerimiz.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height:400px;
    }

    #main3{
        background: url(img/ekibimiz.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height:400px;
    }


#main1 h1, #main3 h1, #main2 h1{
    margin-top: 90px;
}

#main1 a, #main2 a, #main3 a{
    margin-top: 13px;
    padding: 0;
    background: none;
    border: none;
    transition: all .2s;
}

.navmap{
    margin-top: 20px;
    color: #FFFFFF;
    opacity: 0.8;
    font-weight: 400;
}

.main h1{
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    color: #fff;
    margin: 0;
}

.main h1 i{
    font-size: 50px;
    color: #D7B56D;
    font-style: normal;
}

.main p{
    color: #fff;
    opacity: 0.8;
}

.main a{
    margin-top: 13px;
    padding: 15px 48px;
    background: #D7B56D;
    border: 1px solid #D7B56D;
    transition: all .2s;
}

.main a:hover{
    background: none;
    border: 1px solid #fff;
    transition: all .2s;
}

.tape{
    background: #232227;
    width: 100%;
    height: 300px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
}

.line{
    border: 1px solid #D7B56D;
    width: 26.69px;
}

.tape .frame{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.tape .frame .card{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 20px;
    width: 310px;
}

.tape .frame .card img{
    height: 42px;
    margin-right: 10px;
    width: 42px;
}


.tape .frame .card .text{
    width: 250px;
} 

.tape .frame .card .text h3{
    font-family: "Euclid Circular B Medium";
    margin: 0;
    font-weight: 500;
    margin-bottom: 15px;
} 

.tape .frame .card .text p{
    font-family: "Euclid Circular B Regular";
    font-weight: 400;
    margin: 0;
    margin-top: 15px;
    opacity: 0.8;
} 

.detail .frame{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 20px;
    margin: 90px auto;
}

.detail .text{
    width: 500px;
}

.detail .text h4{
    font-family: "Euclid Circular B Medium";
    letter-spacing: 0.24em;
    color: #232227;
    opacity: 0.8;
    margin-top: 0;
    font-weight: 700;
    margin-bottom: 10px;
}

.detail .text h3{
    color: #D7B56D;
    letter-spacing: -0.02em;
    margin-top: 0;
    font-size: 35px;
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
}

.detail .text p{
    color: #223042;
    opacity: 0.8;
    margin-bottom: 25px;
}

#tson{
    margin-bottom: 70px;
}

#dbuton{
    padding: 15px 48px;
    background: #D7B56D;
    border: 1px solid #D7B56D;
    transition: all .2s;
}

#dbuton:hover{
    background: none;
    border: 1px solid #fff;
    transition: all .2s;
}

.detail img{
    width: 500px;
}


.rect{
    position: relative;
}

#heykel{
    right: 200px;
    position: absolute;
    margin-top: -200px;
    width: 730px;
    z-index: 9999;
}

#rectangle{
    z-index: 1;
}

.detail{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;   
}

.workarea{
    background: #232227;
    padding: 80px 20px;
}

.workarea .head h4{
    color: #FFFFFF;
    opacity: 0.8;
    letter-spacing: 0.24em;
}

.workarea .head{
    text-align: center;
}

.workarea .head h3{
    font-family: 'Times New Roman';
    color: #D7B56D;
    font-weight: 700;
    font-size: 35px;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 100px;
}

.workarea .frame{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;  
}

.bigcard{
    color: #fff;
    width: 280px;
}

.workarea .frame .bigcard .card{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;  
    width: 100%;
    margin-bottom: 70px;
}

.bigcard .card img{
    margin-right: 10px;
    width: 42px;
    height: 42px;
}

.bigcard .card .text{
    width: 200px;
}

.bigcard .card .text h3{
    margin-top: 0;
    font-weight: 500;

}

.bigcard .card .text p{
    opacity: 0.8;
}

#down{
    margin-bottom: 0;
}

.ourteam{
    padding: 80px 20px;
}

.ourteam .head h4{
    color: #232227;
    opacity: 0.8;
    letter-spacing: 0.24em;
}

.ourteam .head{
    text-align: center;
}

.ourteam .head h3{
    font-family: 'Times New Roman';
    color: #D7B56D;
    font-weight: 700;
    font-size: 35px;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 100px;
}

.ourteam .frame{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;  
}

.ourteam .frame .card{
    margin: 0 30px;
}

.ourteam .frame .card .text{

    z-index: 99999;
}

.ourteam .frame .card .text p{
    text-align: center;
    color: #fff;
    position: absolute;
    margin-top: -54px;
    background: #232227;
    width: 350px;
    padding: 15px 0;
}


#av{
    z-index: 1;
    background-image: url(img/Rectangle-10.png);
    background-repeat: no-repeat;
    background-size: 100%, cover;
    background-position:bottom; /* resmi merkezle */
    width: 350px;
}

.footer{
    padding: 80px 20px;
    z-index: 9;
    background: #232227;
}

.footer .frame{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
}

.center1 a, .center2 p, .right p{
    color: #FFFFFF;
    opacity: 0.8;
    margin-bottom: 10px;
    display: block;
    font-size: 14px;
}

.footer .frame .left{
    width: 250px;
}

.footer .frame .left p{
    width: 250px;
    color: #FFFFFF;
    opacity: 0.8;
    font-size: 14px;
    margin: 30px 0;
}

.footer .frame .left .social img{
    margin-right: 10px;
}

.center1 h4, .center2 h4, .right h4{
    font-weight: 500;
    font-size: 20px;
    color: #fff;
    margin-top: 0;
}

.right iframe{
    margin-top: 20px;
    opacity: .8;
}

.right{
    position: relative;
}

.under{
    text-align: center;
    background: #D7B56D;
    padding: 20px 0;
    color: #fff;
}

.right .btn{
    padding: 10px 20px;
    background: #D7B56D;
    position: absolute;
    right: 50px;
    margin-top: 75px;
    letter-spacing: 0.2em;
}

.about-us{
    padding: 80px 20px 110px 20px;
}

.about-us .frame .text{
    margin-bottom: 40px;
}

.about-us .frame .text p{
    color: #223042;
    opacity: 0.8;
    font-weight: 400;
    line-height: 32px;
    font-size: 16px;
}

.about-us .frame .img{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about-us .frame .img img{
    width: calc(100% / 3 - 40px);
    border-bottom:6px solid #D7B56D;
}

.services{
    padding: 0px 20px;
}

.services .frame .card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    align-items: center;
    margin: 80px 0;
}

.services .frame .card img{
    width: 45%;
}

.services .frame .card .text{
    width: 50%;
}

.services .frame .card .text ul li{
    color: #D7B56D;
    opacity: 0.8;
    font-size: 24px;
    list-style: #fff;
}

.services .frame .card .text ul li p{
    color: #223042;
}

.services .frame .card .head{
    display: flex;
    margin-bottom: 50px;
    flex-wrap: wrap;
    align-items: center;
}

.services .frame .card .head img{
    width: 70px;
}

.services .frame .card .head h3{
    margin: 0 20px;
    color: #223042;
    font-size: 30px;
}

.teams{
    padding:0px 20px;
}

.teams .frame .card {
    margin: 80px 0;
}

.teams .frame .card .lawyer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.teams .frame .card .head h2{
    margin-top: 0;
    font-size: 30px;
    color: #223042;
}

.teams .frame .card .lawyer .text{
    width: calc(100% - 500px);
}

.teams .frame .card .lawyer .text h4{
    margin-top: 0;
    color: #223042;
    font-size: 25px;

}

.teams .frame .card .lawyer .text p{
    color: #223042;
    opacity: 0.8;
    margin-bottom: 30px;
}

.teams .frame .card .lawyer .text b{
    color: #223042;
    display: block;
    margin: 10px 0;
}

.teams .frame .card .lawyer img{
    width: 400px;
    border-bottom: 6px solid #D7B56D;
}

.communication{
    
    padding: 80px 0;
    margin: auto;
}

#logo1{
    position: absolute;
    z-index: -1;
    margin-top: -340px;
    right: 0;
}

.communication h1{
    color: #223042;
    margin-bottom: 30px;
    font-weight: 700;
    font-family: "Euclid Circular B Medium";
    text-align: center;
}

.communication .card{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 380px;
    margin: auto;
    margin-bottom: 20px;
}

.communication .card img{
    border: 1px solid #E0E0E0;
    padding: 10px;
    border-radius: 50px;
    margin-right: 20px;
}

#telephone img{
    background: #D7B56D;
    border: 1px solid #E0E0E0;
    padding: 10px;
    border-radius: 50px;
}

.form{
    background: #232227;
    margin-bottom: 80px;
}

.form .frame{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.form .frame form{
    width: calc(100% - 500px);
}

.form form{
    padding: 15px 0;
    padding-right: 20px;
}

.form form h3{
    margin-top: 0;
    font-family: 'Times New Roman';
font-style: normal;
font-weight: 700;
color: #D7B56D;

font-size: 40px;
margin-bottom: 20px;
}

.form form p{
    color: #FFFFFF;
    opacity: 0.8;
    margin-top: 0;
    margin-bottom: 30px;
}

.form form input[type=text]{
    width: calc(50% - 2px);
    padding: 15px 0;
    font-family: "Euclid Circular B Regular";
    margin-bottom: 30px;
    background:none;
    outline: none;
    border: none;
    color: #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    opacity: 0.4;
    transition: all .2s;
}

#message{
    width: 100%;
}

.form form input[type=text]:focus{
    opacity: 1;
    border-bottom: 2px solid #D7B56D;
    transition: all .2s;
}

.form form input::placeholder{
    color: #fff;
    opacity: 1;
}

.form form input[type=submit]{
    background: #D7B56D;
    border: none;
    font-family: "Euclid Circular B medium";
    letter-spacing: 0.2em;
    padding: 15px 25px;
    margin-bottom: 5px;
    outline: none;
    color: #fff;
    border: 2px solid #D7B56D;
    transition: all .2s;
}

.form form input[type=submit]:hover{
    cursor: pointer;
    color: #D7B56D;
    background-color: #232227;
    transition: all .2s;
}

.map{
    opacity: .5 ;
}